In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Z:/20XW87-DATA-MINING-LAB/ps3/Credit.csv")

In [3]:
df.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [11]:
df = df.drop(labels=['Unnamed: 0'], axis=1)

In [24]:
features = df.columns
features = list(features)
print(features)

['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender', 'Student', 'Married', 'Ethnicity', 'Balance']

In [25]:
categorical_columns = ['Gender', 'Student', 'Married', 'Ethnicity']
le = LabelEncoder()

for i in categorical_columns:
    df[i] = le.fit_transform(df[i])
    
df.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,0,0,1,2,333
1,106.025,6645,483,3,82,15,1,1,1,1,903
2,104.593,7075,514,4,71,11,0,0,0,1,580
3,148.924,9504,681,3,36,11,1,0,0,1,964
4,55.882,4897,357,2,68,16,0,0,1,2,331

In [26]:
# Prediciting Income
features.pop(0)
final_features = [x for x in features]
CR = df[features].corr().values.tolist()

for i in range(len(CR)):
    for j in range(i+1,len(CR)):
        if abs(CR[i][j])>0.7 and features[i] in final_features:
            final_features.remove(features[i])

print(final_features)

['Cards', 'Age', 'Education', 'Gender', 'Student', 'Married', 'Ethnicity', 'Balance']

In [28]:
income_flags = []
for sal in df['Income']:
    if sal>50:
        income_flags.append(1)
    else:
        income_flags.append(0)
Y = pd.DataFrame(income_flags, columns=['income_flg'])
Y

     income_flg
0             0
1             1
2             1
3             1
4             1
..          ...
395           0
396           0
397           1
398           0
399           0

[400 rows x 1 columns]

In [29]:
X = df[final_features]

In [31]:
X.head()
# Y.head()

   Cards  Age  Education  Gender  Student  Married  Ethnicity  Balance
0      2   34         11       0        0        1          2      333
1      3   82         15       1        1        1          1      903
2      4   71         11       0        0        0          1      580
3      3   36         11       1        0        0          1      964
4      2   68         16       0        0        1          2      331

In [32]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()

In [33]:
X_train , X_test , Y_train,Y_test = train_test_split(X.to_numpy(),Y.to_numpy(),test_size = 0.3,random_state=None)

In [35]:
my_lr = LR.fit(X_train, Y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [40]:
Y_pred = my_lr.predict(X_test)
print(len(Y_pred), len(Y_test))

120 120

In [43]:
count = 0
for i in range(len(Y_pred)):
    if(Y_pred[i]==Y_test[i]):
        count += 1

print(f"Logistic Regression Accuracy for question A: {count*100/len(Y_pred)}")

Logistic Regression Accuracy for question A: 79.16666666666667

In [48]:
from sklearn.neighbors import KNeighborsClassifer
KNNs = []

for i in range(1,11):
    KNNs.append(KNeighborsClassifer(n_neighbours=i).fit(X_train, Y_train))

ImportError: cannot import name 'KNeighborsClassifer' from 'sklearn.neighbors' (C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\__init__.py)