In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("INFY.csv")

In [9]:
df.head()

         Date       Open       High    Low      Close  Adj Close     Volume
0  2023-03-01  18.090000  18.340000  16.59  17.440001  16.985748  202779500
1  2023-04-01  17.209999  17.799999  14.71  15.540000  15.135237  274439400
2  2023-05-01  15.500000  16.010000  14.98  15.960000  15.544298  220384200
3  2023-06-01  15.790000  16.260000  15.12  16.070000  15.651432  214352700
4  2023-07-01  16.190001  18.139999  15.33  16.660000  16.445545  248022100

In [10]:
xdf = df['Date']

In [12]:
ydf = df['Close']